/Lab1/HelloWorld/nbproject/private/
/Lab1/HelloWorld/build/
/Lab1/Topic C/nbproject/private/
/Lab1/Topic C/build/
/Prac1/Prac1JavaSwing/nbproject/private/
/Prac1/Prac1JavaSwing/build/
/Lab5/Lab5_JavaFX/nbproject/private/
/Lab5/Lab5_JavaFX/build/
/LAB2/Lab3JavaSwing/build/
/LAB2/Lab3JavaSwing/dist/
/LAB2/Lab3JavaSwing/nbproject/private/
/LAB2/Lab3_Navigation/build/
/LAB2/Lab3_Navigation/dist/
/LAB2/Lab3_Navigation/nbproject/private/
/LAB2/Lab2_Navigation/build/
/LAB2/Lab2_Navigation/dist/
/LAB2/Lab2_Navigation/nbproject/private/
/LAB2/Lab2JavaSwing/build/
/LAB2/Lab2JavaSwing/dist/
/LAB2/Lab2JavaSwing/nbproject/private/
/Lab5/Abstract/nbproject/private/
/Lab5/AbstractExercise/nbproject/private/
/Lab5/PolyEx1/nbproject/private/
/Lab5/Person/nbproject/private/
/Prac1/Person/nbproject/private/
/Prac1/Lab5_JavaFX/nbproject/private/
/Lab5_JavaFX/nbproject/private/
/Lab5_JavaFX/build/
/Lab5_JavaFX/dist/
/Lab7_JBC/nbproject/private/
/ShapeFacade/nbproject/private/
